Administracion/Service References/ServicioFarma/ServicioWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://prueba-pc/ServicioFarmaWCF/ServicioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" />
  <xs:element name="AltaFarmaceutica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unaFarmaceutica" nillable="true" type="q1:Farmaceutica" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unEncargado" nillable="true" type="q2:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaFarmaceuticaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarFarmaceutica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unaFarmaceutica" nillable="true" type="q3:Farmaceutica" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unEncargado" nillable="true" type="q4:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarFarmaceuticaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarFarmaceutica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unaFarmaceutica" nillable="true" type="q5:Farmaceutica" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unEncargado" nillable="true" type="q6:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarFarmaceuticaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFarmaceuticaActiva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnombre" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unUsuario" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFarmaceuticaActivaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="BuscarFarmaceuticaActivaResult" nillable="true" type="q8:Farmaceutica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFarmaceuticasActivas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unEncargado" nillable="true" type="q9:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFarmaceuticasActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="ListarFarmaceuticasActivasResult" nillable="true" type="q10:ArrayOfFarmaceutica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMedicamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="M" nillable="true" type="q11:Medicamento" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="E" nillable="true" type="q12:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="M" nillable="true" type="q13:Medicamento" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="E" nillable="true" type="q14:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="M" nillable="true" type="q15:Medicamento" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="E" nillable="true" type="q16:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicamentosStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicamentosStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MedicamentosStockResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicamentosActivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pnombreF" nillable="true" type="q17:Farmaceutica" />
        <xs:element minOccurs="0" name="pcodigo" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unUsuario" nillable="true" type="q18:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicamentosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="BuscarMedicamentosActivosResult" nillable="true" type="q19:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentosActivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="unEncargado" nillable="true" type="q20:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="ListarMedicamentosActivosResult" nillable="true" type="q21:ArrayOfMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPedidosEsteAno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pEncargado" nillable="true" type="q22:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPedidosEsteAnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="ListaPedidosEsteAnoResult" nillable="true" type="q23:ArrayOfPedidoCabezal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPedidosGeneradoEnviado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pEncargado" nillable="true" type="q24:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPedidosGeneradoEnviadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="ListaPedidosGeneradoEnviadoResult" nillable="true" type="q25:ArrayOfPedidoCabezal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="BuscarPedidoResult" nillable="true" type="q26:PedidoCabezal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pPedido" nillable="true" type="q27:PedidoCabezal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioDeEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pPedido" nillable="true" type="q28:PedidoCabezal" />
        <xs:element minOccurs="0" name="pEstadoNuevo" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="E" nillable="true" type="q29:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioDeEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="U" nillable="true" type="q30:Usuario" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="encargadoAutorizante" nillable="true" type="q31:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="U" nillable="true" type="q32:Usuario" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="encargadoAutorizante" nillable="true" type="q33:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="U" nillable="true" type="q34:Usuario" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="encargadoAutorizante" nillable="true" type="q35:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="pUsuario" nillable="true" type="q36:Usuario" />
        <xs:element minOccurs="0" name="newContrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambioContrasenaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pContrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="LoginResult" nillable="true" type="q37:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuariosActivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pci" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="encargadoAutorizante" nillable="true" type="q38:Encargado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuariosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entidades_Compartidas" minOccurs="0" name="BuscarUsuariosActivosResult" nillable="true" type="q39:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregaHorasExtras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCi" type="xs:int" />
        <xs:element minOccurs="0" name="pFecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pMinutos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregaHorasExtrasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>